﻿<section class="mainbar" data-ng-controller="payrollList as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wgreen">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    
                    <div class="widget-content">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-download"></i>Download PDF</button>
                        <!-- Employee table -->
                        <div class="row m-t">
                            <div class="col-xs-12">
                                <table class="table table-striped table-responsive">
                                    <tr>
                                        <th class="bold">Name</th>
                                        <th class="bold">Student ID</th>
                                        <th class="bold">Appt</th>
                                        <th class="bold">Dist</th>
                                        <th class="bold">Department</th>
                                        <th class="bold">Description</th>
                                    </tr>
                                    <tr ng-repeat="employee in vm.employees">
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.id}}</td>
                                        <td>{{employee.appt}}</td>
                                        <td>{{employee.dist}}</td>
                                        <td>{{employee.department}}</td>
                                        <td>{{employee.description}}</td>
                                    </tr>
                                </table>
                            </div>                           
                        </div>

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <ul class="pagination-small pagination">
                                    <li class="ng-scope disabled"><a>First</a></li>
                                    <li class="ng-scope disabled"><a>Prev</a></li>
                                    <li class="ng-scope active"><a>1</a></li>
                                    <li class="ng-scope"><a>2</a></li>
                                    <li class="ng-scope"><a>3</a></li>
                                    <li class="ng-scope"><a>4</a></li>
                                    <li class="ng-scope"><a>5</a></li>
                                    <li class="ng-scope"><a>Next</a></li>
                                    <li class="ng-scope"><a>Last</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>-->
                </div>

            </div>

        </div>

    </section>
</section>
