﻿<section class="mainbar" data-ng-controller="employeeHours as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content">

                        <!-- Search Bar-->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search" style="color: #999"></i></span>
                                        <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status" placeholder="Search by name or ID">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Employee table -->
                        <div class="row m-t">
                            <div class="col-lg-6">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th class="bold">Name</th>
                                        <th class="bold">UCLA ID</th>
                                    </tr>
                                    <tr ng-repeat="employee in vm.employees">
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.id}}</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-lg-6">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th class="bold">Name</th>
                                        <th class="bold">UCLA ID</th>
                                    </tr>
                                    <tr ng-repeat="employee in vm.employees">
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.id}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>-->
                </div>

                <div class="widget wlightblue">
                    <div class="widget-head">
                        Joe Bruin
                        <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-pencil"></i>Update</button>
                    </div>
                    <div class="widget-content">
                        <div class="row m-b">
                            <div class="col-md-3">
                                <strong>UCLA ID: </strong> 038572917
                            </div>
                            <div class="col-md-3">
                                <strong>Appt Num: </strong> 10
                            </div>
                            <div class="col-md-3">
                                <strong>Dist Num: </strong> 14
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-3">
                                <strong>Last Name: </strong> Bruin
                            </div>
                            <div class="col-md-3">
                                <strong>First Name: </strong> Joe
                            </div>
                            <div class="col-md-3">
                                <strong>Middle Name: </strong>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-3">
                                <strong>Department: </strong>Recruiting
                            </div>
                            <div class="col-md-3">
                                <strong>Description: </strong>Student Asst
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-lg-5 col-md-6">
                                <h5>Pay Period Punches <i class="fa fa-pencil text-success pull-right"></i></h5>
                                <table class="table table-striped">
                                    <tr>
                                        <th class="bold">In</th>
                                        <th class="bold">Out</th>
                                        <th class="bold">Hours</th>
                                    </tr>
                                    <tr>
                                        <td>3/28/2016 9:30 AM</td>
                                        <td>3/28/2016 1:10 PM</td>
                                        <td>3.4</td>
                                    </tr>
                                    <tr>
                                        <td>3/27/2016 11:00 AM</td>
                                        <td>3/27/2016 1:30 PM</td>
                                        <td>2.5</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="bold text-right">Total: 5.9</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <h5>Inserted Hours <i class="fa fa-pencil text-success pull-right"></i></h5>
                                <table class="table table-striped">
                                    <tr>
                                        <th class="bold">Work Date</th>
                                        <th class="bold">Entry Date</th>
                                        <th class="bold">Type</th>
                                        <th class="bold">Hours</th>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="bold text-right">Total: 0</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</section>
